<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8"/>
    <title>tableList</title>
    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/bootstrap/css/bootstrap-theme.min.css}" rel="stylesheet"/>
</head>
<body>

<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <div class="row">
            <nav class="navbar navbar-default navbar-inverse" role="navigation">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button> <a class="navbar-brand" href="#">Destiny</a>
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="active">
                            <a href="/tableParam/getTableList">tableList</a>
                        </li>
                        <li>
                            <a href="#">Link</a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown<strong class="caret"></strong></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="#">Action</a>
                                </li>
                                <li>
                                    <a href="#">Another action</a>
                                </li>
                                <li>
                                    <a href="#">Something else here</a>
                                </li>
                                <li class="divider">
                                </li>
                                <li>
                                    <a href="#">Separated link</a>
                                </li>
                                <li class="divider">
                                </li>
                                <li>
                                    <a href="#">One more separated link</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <form class="navbar-form navbar-left" role="search">
                        <div class="form-group">
                            <input type="text" class="form-control" />
                        </div> <button type="submit" class="btn btn-default">Submit</button>
                    </form>
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="#">Link</a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown<strong class="caret"></strong></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="#">Action</a>
                                </li>
                                <li>
                                    <a href="#">Another action</a>
                                </li>
                                <li>
                                    <a href="#">Something else here</a>
                                </li>
                                <li class="divider">
                                </li>
                                <li>
                                    <a href="#">Separated link</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>

            </nav>
            </div>
            <div class="row clearfix">
                <!-- 左半列表start -->
                <div class="col-md-8 column" id="left-list">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>
                                Id
                            </th>
                            <th>
                                表中文名
                            </th>
                            <th>
                                数据库表名
                            </th>
                            <th>
                                操作
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="success" th:each="t : ${tableList}">
                            <td th:text="${t.tableId}">
                                1
                            </td>
                            <td th:text="${t.tableNameCN}">
                                TB - Monthly
                            </td>
                            <td th:text="${t.tableName}">
                                01/04/2012
                            </td>
                            <td>
                                <button class="btn" type="button" th:onclick="'getTableDetail('+${t.tableId}+')'">看字段</button>
                                <button class="btn" type="button">选择</button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <!-- 左半列表end -->
                <div class="col-md-4 column">
                    <div class="btn-group btn-group-sm">
                        <button class="btn btn-default" type="button" th:onclick="'selectMethod(\'select\')'"><em class="glyphicon glyphicon-align-left"></em> 查</button>
                        <button class="btn btn-default" type="button" th:onclick="'selectMethod(\'update\')'"><em class="glyphicon glyphicon-align-center"></em> 改</button>
                        <button class="btn btn-default" type="button" th:onclick="'selectMethod(\'insert\')'"><em class="glyphicon glyphicon-align-right"></em> 增</button>
                        <button class="btn btn-default" type="button" th:onclick="'selectMethod(\'delete\')'"><em class="glyphicon glyphicon-align-justify"></em> 删</button>
                    </div>
                    <div>
                        <input type="hidden" value="sdf"/>
                        <span style="line-height: 30px;">方法类型：</span>
                        <span class="label label-primary" style="line-height: 30px;" id="method">select</span>
                    </div>
                    <div>
                        <input type="hidden" value="sdf"/>
                        <span style="line-height: 30px;">相关表：</span>
                        <span class="label label-success" style="line-height: 30px;">文章表</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script th:src="@{/jquery/jquery-3.2.1.min.js}"></script>
<script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
<script>
    function getTableDetail(tableId) {
//        var ss = [[${tableList}]];
//        alert(tableId);
//        alert(window.location.host+"/tableParam/getAllTableParam");
//        window.location.href="http://localhost:8080/tableParam/getTableDetail?tableId="+tableId;
        $.ajax({
            url: "http://localhost:8080/tableParam/getTableDetailJson",
            data: {
                tableId:tableId
            },
            success: function(result){
                var data = result.tableDetailJson;
                var buffer = "";
                var method = "getTableList()";
                buffer += '<table class="table table-hover"><thead><tr><th>Id</th><th>字段中文名</th><th>参数类型</th><th>字段名</th><th>操作</th></tr></thead><tbody>';
                for(var i = 0; data.length > i;i++){
                    buffer += '<tr class="success"><td>'+data[i].id+'</td>' +
                        '<td>'+data[i].comment+'</td>' +
                        '<td>'+data[i].param_type+'</td>' +
                        '<td>'+data[i].low_case_param+'</td>' +
                        '<td><button class="btn" type="button" th:onclick="&apos;getTableList()&apos;">看表</button><button class="btn" type="button">选择</button></td></tr>';

                }
                buffer += '</tbody></table>';
                $("#left-list").html(buffer);
            }
        });
    }

    function getTableList() {
        var oBuffer = new StringBuffer();
        $.ajax({
            url: "http://localhost:8080/tableParam/getTableListJson",
            success: function(result){
                var data = result.tableListJson;
                var buffer = "";
                var tableId = 1;
                buffer += '<table class="table table-hover"><thead><tr><th>Id</th><th>表中文名</th><th>数据库表名</th><th>操作</th></tr></thead><tbody>';
                for(var i = 0; data.length > i;i++){
                    tableId = data[i].tableId;
                    buffer += '<tr class="success"><td>'+data[i].tableId+'</td>';
                    buffer += '<td>'+data[i].tableNameCN+'</td>';
                    buffer += '<td>'+data[i].tableName+'</td>';
                    buffer += '<td><button class="btn" type="button" th:onclick="&apos;getTableDetail(';
                    buffer += tableId;
                    buffer += ')&apos;">看字段</button><button class="btn" type="button">选择</button></td></tr>';
                }
                buffer += '</tbody></table>';
                $("#left-list").html(oBuffer);
            }
        });
    }

    function selectMethod(method) {
//        alert(method);
        $("#method").text(method);
    }
</script>
</body>
</html>