<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8"/>
    <title>tableList</title>
    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/bootstrap/css/bootstrap-theme.min.css}" rel="stylesheet"/>
</head>
<body>
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12">
            <ul th:each="tableList : ${tableList}">
                <li th:text="${tableList.tableId}">
                </li>
                <li th:text="${tableList.tableNameCN}">
                </li>
                <li th:text="${tableList.tableName}">
                </li>
                <button class="btn" type="button" th:onclick="'getTableDetail('+${tableList.tableId}+')'">按钮</button>
            </ul>
        </div>
    </div>
</div>

<script th:src="@{/jquery/jquery-3.2.1.min.js}"></script>
<script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
<script>
    function getTableDetail(tableId) {
//        var ss = [[${tableList}]];
//        alert(tableId);
//        alert(window.location.host+"/tableParam/getAllTableParam");
        window.location.href="http://localhost:8080/tableParam/getTableDetail?tableId="+tableId;
//        $.ajax({
//            url: "http://localhost:8080/tableParam/getAllTableParam",
//            data: {
//                fss:"sdf",
//                ssd:"ewrwer"
//            },
//            success: function(){
//                alert(1234);
//            }});
        }
</script>
</body>
</html>