<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta content="text/html;charset=UTF-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/bootstrap/css/bootstrap-theme.min.css}" rel="stylesheet"/>
</head>
<body>
<div class="container" id="content">
    <div class="row">
        <div class="col-md-10">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row">
                    </div>
                </div>
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>文章标题</th>
                        <th>文章内容</th>
                        <th>创建时间</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="article : ${articles}">
                        <td th:text="${article.articleTitle}"></td>
                        <td th:text="${article.articleContent}"></td>
                        <td th:text="${article.createtime}?${#dates.format(article.createtime,'yyyy-MM-dd HH:mm:ss')}:''"></td>
                    </tr>
                    </tbody>
                </table>

            </div>

        </div>
    </div>
</div>

</body>
</html>