<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta content="text/html;charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/bootstrap/css/bootstrap-theme.min.css}" rel="stylesheet"/>

</head>
<body>
<div class="container" id="content">
    <div class="row">
        <div class="col-md-10">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row">
                    </div>
                </div>
                <table class="table">
                    <thead>
                    <tr>
                        <th>文章标题</th>
                        <th>文章内容</th>
                        <th>创建时间</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="article : ${articles}">
                        <td th:text="${article.articleTitle}"></td>
                        <td th:text="${article.articleContent}"></td>
                        <td th:text="${article.createtime}?${#dates.format(article.createtime,'yyyy-MM-dd HH:mm:ss')}:''"></td>
                        <td>
                            <ul class="list-inline">
                                <li><a href="#">修改</a></li>
                                <li><a href="#">删除</a></li>
                                <li><a href="#" rel="rs-dialog" data-target="myModal">Launch Demo Modal</a></li>
                            </ul>
                        </td>
                    </tr>
                    </tbody>
                </table>

            </div>

        </div>
    </div>
</div>

<script th:src="@{/jquery/jquery-3.2.1.min.js}"></script>
<script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>

</body>
</html>